/** CSS STYLE **/

@font-face {
  font-family: OpenSans;
  src: url("../fonts/Open_Sans/static/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha/Neucha-Regular.ttf");
}

:root {
  /* COLOR PALETTE */
  --white: #FFF;
  --in-the-buff: #D7CCC0;
  --classic-chalk: #F5F4F0;
  --american-orange: #FE8A02;
  --black-ink: #42413C;
  --bokara-grey: #2A2626;
  --antique-silver: #908D8B;
  --song-thrush: #B09A81;
  --water-blue: #1085C5;

    /* FONTS */
    --font-size: 16px;
    --line-height: 1.6em;
    color: var(--bokara-grey);
  
    font-family: OpenSans, sans-serif;
    font-size: var(--font-size);
    line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 52px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

.section {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

/* HEADER */

header {
  overflow: hidden;
}

header h1 {
  z-index: 1;
}

.background::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/background.png") no-repeat;
  background-size: cover;
  opacity: 0.1;
}

header .img-placeholder {
  display: block;
  width: var(--data-width);
  height: var(--data-height);
  background: url("../images/main.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 55px;
  right: -270px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
}

header .btn {
  margin-top: 24px;
}

header .texts {
  margin-top: 185px;
}

.btn-default {
  background: var(--american-orange);
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}

.btn-default:hover {
  background: #EA7600;
  transition: all 0.3s linear;
}

/* PREVIEW */
.preview {
  text-align: center;
}

.preview h2,
.preview p {
  margin: 0 0 30px;
}

.preview a {
  display: inline-block;
  height: 517px;
  position: relative;
  top: 208px;
  margin-top: -208px;
}

.preview img {
  width: var(--width);
  height: 100%;
}

/* NAVIGATION */

.navigation {
  background-color: var(--black-ink);
}

.navigation nav {
  margin-top: 100px;
}

.navigation ol {
  padding-left: 0;
}

.navigation h4 {
  flex-basis: 350px;
  flex-shrink: 0;
  color: var(--white);
}

.navigation li {
  list-style: none;
  flex-basis: 350px;
  flex-shrink: 0;
  padding: 24px;
  box-sizing: border-box;
  background-color: var(--classic-chalk);
}

.navigation a {
  display: flex;
  flex-basis: 350px;
  flex-shrink: 0;
  color: var(--bokara-grey);
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.navigation li a {
  display: block;
  height: 100%;
  box-sizing: border-box;
  color: var(--bokara-grey);
  text-decoration: none;
}

.ikea-effect h3 {
  margin-top: 30px;
}

.navigation li h3 {
  margin: 0 0 16px;
}

.navigation li::before {
  content: counter(list-item);
  display: inline-block;
  margin-bottom: 40px;
  font-family: Neucha, sans-serif;
  font-size: 64px;
  line-height: 1;
}

.ikea-effect p {
  font-size: 16px;
  color: var(--bokara-grey);
}

.navigation a:hover,
.navigation a:hover h3,
.navigation a:hover p,
.navigation a:hover li::before{
  transition: all 0.3s linear;
  color: var(--white);
}

.navigation a:hover li {
  transition: all 0.3s linear;
  background-color: var(--american-orange);
  }

.navigation li:nth-child(odd +1) h3 {
  white-space: nowrap;
}

/* IKEA */

.ikea-effect h5 {
  color: var(--antique-silver);
}

.ikea-effect > h6 {
  margin: 100px 0 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  font-family: OpenSans, sans-serif;
  text-transform: uppercase;
  color: var(--white);
}

/* PREMATURE OPTIMIZATION */

.premature-optimization h5 {
  color: var(--in-the-buff);
}

.premature-optimization > h6 {
  margin: 100px 0 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  font-family: OpenSans, sans-serif;
  text-transform: uppercase;
  color: var(--song-thrush);
}



/* ATOMIC */

.pos-rel {
  position: relative;
}

.bg-light {
  background-color: var(--classic-chalk);
}

.bg-white {
  background-color: var(--white);
}

.bg-dark {
  background-color: var(--song-thrush);
}

.m-0 {
  margin: 0;
}

.f-wrap {
  flex-wrap: wrap;
}

.text-special {
  color: var(--american-orange);
}

.text-white {
  color: var(--white);
}

.fb-50 {
  flex-basis: 50%;
}

.d-flex {
  display: flex;
}

.gx-30 {
  column-gap: 30px;
}

.gy-20 {
  row-gap: 20px;
}

.drp-shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}